.btn-flex {
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  height: 38px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  padding: 1rem 0.5rem; }
  .btn-flex i {
    font-size: 16px; }

.btn-circle-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 38px;
  width: 38px;
  padding: 0;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.style-table td.active {
  font-weight: 700;
  color: #2ecc71; }

.style-table td.off {
  font-weight: 700;
  color: #c11515; }

td.reason {
  white-space: pre-wrap !important;
  min-width: 390px;
  max-width: 390px; }

.topbar .navbar {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 1024px) {
    .topbar .navbar {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.prom-earn h5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #32393f !important;
  font-size: 16px; }
  .prom-earn h5 a {
    font-size: 13px;
    color: green !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .prom-earn h5 a i {
      font-size: 16px;
      margin-left: -3px; }

.prom-earn .card-text {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 0; }

.prom-earn .justify-content-between a:last-child {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 10px; }

@media screen and (max-width: 530px) {
  .option-table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .option-table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.option-table tr .form-control-sm {
  margin-left: 5px;
  border: 1px solid #aaa;
  max-width: 150px; }
  @media screen and (max-width: 768px) {
    .option-table tr .form-control-sm {
      width: 110px; } }
  @media screen and (max-width: 530px) {
    .option-table tr .form-control-sm {
      width: 95px;
      height: 31px;
      line-height: 31px;
      font-size: 12px; } }

.option-table tr td {
  padding: 0;
  line-height: 31px; }
  .option-table tr td:nth-child(3) {
    padding: 0 5px; }
  @media screen and (max-width: 1024px) {
    .option-table tr td:nth-child(2), .option-table tr td:nth-child(5) {
      width: 100px; } }
  .option-table tr td:nth-child(2) input, .option-table tr td:nth-child(5) input {
    width: -webkit-calc(100% - 5px);
    width: calc(100% - 5px);
    margin-left: 5px; }

.table-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .table-options {
      padding: 0 15px; } }
  .table-options .search-box #active-player-list_filter {
    margin-top: 0 !important; }
  @media screen and (max-width: 600px) {
    .table-options .search-box input[type="search"] {
      width: 110px !important; } }
  @media screen and (max-width: 530px) {
    .table-options #example_filter {
      margin-top: 0; } }

@media screen and (max-width: 768px) {
  td {
    font-size: 12px;
    padding: 5px !important; } }

@media screen and (max-width: 768px) {
  th {
    font-size: 12px;
    padding-left: 5px !important; } }

td.date-time {
  font-weight: 500; }
  td.date-time span {
    display: inline-block;
    font-weight: 400;
    color: #3185c9;
    border-left: 1px solid #3185c9;
    padding-left: 5px; }

td.check-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 !important; }
  td.check-option .form-check-input[type=checkbox] {
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none; }
  td.check-option label {
    display: block;
    width: 100%;
    height: 54px;
    line-height: 54px;
    padding: 0 0 0 10px;
    position: relative;
    cursor: pointer; }
    td.check-option label:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 17px;
      height: 17px;
      border: 1px solid #aaa;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background-color: #fff; }
    td.check-option label:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 17px;
      height: 17px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background-color: #3185c9;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      z-index: 2; }
    td.check-option label.selected {
      background-color: #d0efff; }
      td.check-option label.selected::after {
        opacity: 1; }

@media screen and (max-width: 768px) {
  .page-content {
    padding: 10px !important; } }

@media screen and (max-width: 580px) {
  .page-content {
    padding: 5px !important; } }

@media screen and (max-width: 768px) {
  h5 {
    font-size: 1.05rem !important; } }

@media screen and (max-width: 768px) {
  .accordion-flush h2 button {
    font-size: 14px; } }

@media screen and (max-width: 768px) {
  .accordion-flush .accordion-body {
    font-size: 12px; } }

@media screen and (max-width: 530px) {
  .p-pills {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 0 !important; } }

@media screen and (max-width: 530px) {
  .p-pills li a {
    padding: 6px 8px;
    margin-right: 10px; } }

.ql-container {
  height: 200px !important; }

.ql-toolbar.ql-snow {
  border-color: #dee2e6 !important;
  -webkit-border-radius: .375rem .375rem 0 0;
  border-radius: .375rem .375rem 0 0; }

.ql-container.ql-snow {
  border-color: #dee2e6 !important;
  -webkit-border-radius: 0 0 .375rem .375rem;
  border-radius: 0 0 .375rem .375rem; }

.header-notifications-list .dropdown-item {
  border-bottom: 1px solid #dfdede !important; }
  .header-notifications-list .dropdown-item.unread {
    background-color: #daf1f9; }
    .header-notifications-list .dropdown-item.unread:hover {
      background-color: #c7eaf4; }
    .header-notifications-list .dropdown-item.unread .msg-name {
      color: #212529; }
    .header-notifications-list .dropdown-item.unread .msg-info {
      color: #4d4d54; }
  .header-notifications-list .dropdown-item .msg-name {
    color: #424b51; }
  .header-notifications-list .dropdown-item .msg-info {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #acacb0; }
  .header-notifications-list .dropdown-item .flex-grow-1 {
    max-width: -webkit-calc(100% - 60px);
    max-width: calc(100% - 60px); }

.static-dropdown {
  position: static;
  width: 100% !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }
  .static-dropdown .header-notifications-list {
    height: auto; }
    .static-dropdown .header-notifications-list .dropdown-item .msg-info {
      text-wrap: wrap; }

.wallet-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.balance-dis {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #212529;
  height: 60px;
  border-left: 1px solid #e4e2e2;
  padding: 0 1rem;
  cursor: pointer; }
  .balance-dis i {
    margin-right: 5px;
    font-size: 22px; }

.user-info {
  position: relative;
  padding-right: 25px; }
  .user-info i {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px; }

.max-amt {
  cursor: pointer; }

p.error {
  color: red;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 12px;
  display: none; }
  p.error.show {
    display: block; }

.cumpolsary {
  color: red; }

.round-pills {
  -webkit-border-radius: 30px !important;
  border-radius: 30px !important; }

.depo-qr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 0; }
  .depo-qr img {
    max-width: 120px; }

#withdrawInsuranceModal .nav-link {
  color: #212529; }

#withdrawInsuranceModal .nav-pills .nav-link.active, #withdrawInsuranceModal .nav-pills .show > .nav-link {
  background-color: #212529;
  color: #fff; }

#withdrawInsuranceModal a.max-amt {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #withdrawInsuranceModal a.max-amt:hover {
    background-color: #eaedef; }

.f-input-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0; }
  .f-input-holder .f-input {
    margin: 0 10px; }

.bonus-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .bonus-option strong {
    display: inline-block;
    margin-right: 15px; }
  .bonus-option .radio-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .bonus-option .radio-group .option {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 15px; }
      .bonus-option .radio-group .option input {
        margin-right: 7px; }

.bonus-option-input {
  display: none; }
  .bonus-option-input.show {
    display: block !important; }
  .bonus-option-input input {
    margin-bottom: 15px; }

.top-list-action {
  margin-bottom: 15px; }

.tb-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .tb-flex {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 15px; } }
  .tb-flex .top-list-action {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }
    @media screen and (max-width: 768px) {
      .tb-flex .top-list-action {
        min-width: 100%;
        -webkit-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0; } }

table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  table.dataTable tbody tr.selected td {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #d0efff !important;
    color: #090a0b; }

table.dataTable.display > tbody > tr.selected:hover > * {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #abdbf3 !important;
  color: #090a0b; }

.DTFC_Cloned tbody tr {
  background-color: #fdf7f7 !important; }
  .DTFC_Cloned tbody tr:nth-child(even) {
    background-color: #fefbfb !important; }

.DTFC_LeftBodyWrapper .sorting_asc::before, .DTFC_LeftBodyWrapper .sorting_asc::after,
.DTFC_LeftBodyWrapper .sorting_desc::before,
.DTFC_LeftBodyWrapper .sorting_desc::after {
  display: none !important; }

@media screen and (max-width: 768px) {
  .table-responsive {
    margin: 0 -15px; } }

@media screen and (max-width: 768px) {
  .action-button-list button {
    padding: 5px 8px !important;
    height: 30px;
    -webkit-border-radius: 15px;
    border-radius: 15px; } }

@media screen and (max-width: 768px) {
  .no-pad-row > [class^="col"] {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media screen and (max-width: 1024px) {
  .card.radius-10 {
    margin-bottom: 10px; } }

@media screen and (max-width: 768px) {
  .card.radius-10 {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important; } }

.d-btn-holder .btn {
  padding: 6px;
  font-size: 13px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 12px !important; }
  .d-btn-holder .btn:nth-child(2) {
    margin-left: 10px; }

.custom-list-group {
  padding-top: 10px; }
  .custom-list-group .list-group-item {
    padding-left: 0;
    padding-right: 0; }
    .custom-list-group .list-group-item h6 {
      font-size: 15px; }

.user-unq {
  display: block;
  margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  .nav-link {
    padding: 8px 8px;
    font-size: 12px; } }

.login-card {
  background-color: #054728; }
  .login-card .form-control {
    background-color: #b7ddbd; }
  .login-card .primary-btn {
    background-color: #55b963;
    border-color: #55b963; }

.input-icon .form-select {
  padding: .375rem 2.25rem .375rem 2.3rem; }

*::focus {
  outline: none !important; }

button:focus:not(:focus-visible) {
  outline: none; }

.refer-main-banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 15px;
  margin: -16px -16px 0 -16px;
  overflow: hidden;
  -webkit-border-radius: 0.375rem 0.375rem 0 0;
  border-radius: 0.375rem 0.375rem 0 0;
  margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .refer-main-banner {
      padding: 30px 15px;
      margin-bottom: 30px; } }
  .refer-main-banner.mb0 {
    margin-bottom: 0; }
  .refer-main-banner::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.0;
    z-index: 2; }
  .refer-main-banner img {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    height: auto;
    z-index: 1; }
    @media screen and (max-width: 1024px) {
      .refer-main-banner img {
        width: auto;
        min-width: 100%;
        height: 100%;
        left: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); } }
    @media screen and (max-width: 600px) {
      .refer-main-banner img {
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0); } }
  .refer-main-banner .text-holder {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center; }
    .refer-main-banner .text-holder strong {
      font-size: 20px;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .refer-main-banner .text-holder strong {
          font-size: 16px;
          display: inline-block;
          margin-bottom: 5px; } }
      @media screen and (max-width: 600px) {
        .refer-main-banner .text-holder strong {
          font-size: 14px; } }
    .refer-main-banner .text-holder h1 {
      color: #ffc107;
      display: block;
      font-size: 50px;
      font-weight: 900;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .refer-main-banner .text-holder h1 {
          font-size: 30px; } }
      @media screen and (max-width: 600px) {
        .refer-main-banner .text-holder h1 {
          font-size: 23px; } }
    .refer-main-banner .text-holder p {
      max-width: 500px;
      margin: 0 auto 15px;
      line-height: 1.6; }
      @media screen and (max-width: 768px) {
        .refer-main-banner .text-holder p {
          max-width: 440px;
          font-size: 13px; } }
      @media screen and (max-width: 600px) {
        .refer-main-banner .text-holder p {
          max-width: 300px; } }
      @media screen and (max-width: 600px) {
        .refer-main-banner .text-holder p + button {
          margin-right: 0 !important;
          margin-bottom: 10px;
          width: 250px;
          padding: 6px 15px !important; } }
      @media screen and (max-width: 600px) {
        .refer-main-banner .text-holder p + button + button {
          width: 250px;
          padding: 6px 15px !important; } }
    .refer-main-banner .text-holder.insurance-text {
      width: 50%;
      margin-left: auto;
      text-align: left; }
      @media screen and (max-width: 1024px) {
        .refer-main-banner .text-holder.insurance-text {
          width: 100%;
          text-align: center; } }
      .refer-main-banner .text-holder.insurance-text strong {
        color: #16568f;
        font-weight: 900; }
      .refer-main-banner .text-holder.insurance-text h1 {
        color: #32393f;
        font-size: 30px;
        line-height: 1.4; }
        @media screen and (max-width: 1150px) {
          .refer-main-banner .text-holder.insurance-text h1 {
            font-size: 25px; } }
      .refer-main-banner .text-holder.insurance-text p {
        width: 100%;
        max-width: 100%;
        color: #32393f;
        padding-right: 80px; }
        @media screen and (max-width: 1150px) {
          .refer-main-banner .text-holder.insurance-text p {
            max-width: 600px;
            padding-right: 0;
            margin: 0 auto 15px; } }
    .refer-main-banner .text-holder.bonus ul {
      border-width: 0 !important; }
    .refer-main-banner .text-holder.bonus strong {
      color: #fff; }
    .refer-main-banner .text-holder.bonus h1 {
      color: #ffc107; }
    .refer-main-banner .text-holder.bonus p {
      color: #fff; }

.title-big {
  margin-bottom: 30px; }
  .title-big h1 {
    font-weight: 900;
    font-size: 40px;
    text-align: center; }
    @media screen and (max-width: 1024px) {
      .title-big h1 {
        font-size: 27px !important; } }
    @media screen and (max-width: 768px) {
      .title-big h1 {
        font-size: 24px !important; } }
  .title-big p {
    max-width: 420px;
    margin: 0 auto 15px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .title-big p {
        font-size: 12px; } }

.perks {
  margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .perks {
      margin-bottom: 15px; } }
  .perks .card {
    height: 100%;
    margin-bottom: 0px;
    text-align: center; }
    .perks .card i {
      font-size: 55px; }
    .perks .card h5 {
      font-weight: 700; }
  @media screen and (max-width: 768px) {
    .perks .col {
      margin-bottom: 15px; } }
  .perks.insurance {
    color: #32393f; }
    .perks.insurance .card {
      -webkit-box-shadow: none;
      box-shadow: none; }
      .perks.insurance .card p {
        color: #606569;
        text-align: justify-center; }
    .perks.insurance span {
      font-weight: 700;
      display: block;
      margin-bottom: 15px;
      text-align: center;
      font-size: 16px;
      color: #16568f; }
    .perks.insurance h5 {
      font-weight: 900; }

.commision-disclouser {
  margin: 0 -15px 60px;
  background: url("../img/img10.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 0 0 0;
  padding: 20px;
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem; }
  @media screen and (max-width: 1024px) {
    .commision-disclouser .info {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; } }
  @media screen and (max-width: 1024px) {
    .commision-disclouser .card-body {
      padding: 16px 0; } }
  @media screen and (max-width: 768px) {
    .commision-disclouser .card-title br {
      display: none !important; } }
  .commision-disclouser.insurance-eligible {
    background: url("../img/img13.jpg"); }
  @media screen and (max-width: 1024px) {
    .commision-disclouser img {
      display: block;
      max-width: 300px;
      margin: 0 auto;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }
  .commision-disclouser.bonus {
    background: url("../img/img17.jpg"); }
    .commision-disclouser.bonus ul {
      border-width: 0 !important; }
      .commision-disclouser.bonus ul li {
        color: #4c5258;
        border-color: #bcbdd6; }
        .commision-disclouser.bonus ul li span:after {
          color: #4c5258 !important; }
        .commision-disclouser.bonus ul li span i {
          background-color: rgba(76, 82, 88, 0.1) !important; }
  .commision-disclouser.mb0 {
    margin-bottom: 0; }
  .commision-disclouser.br0 {
    -webkit-border-radius: 0;
    border-radius: 0; }
  .commision-disclouser h1 {
    font-weight: 900;
    line-height: 1.2;
    font-size: 32px; }
    @media screen and (max-width: 1024px) {
      .commision-disclouser h1 {
        font-size: 27px !important; } }
    @media screen and (max-width: 768px) {
      .commision-disclouser h1 {
        font-size: 24px !important; } }
  @media screen and (max-width: 768px) {
    .commision-disclouser p {
      font-size: 12px; } }
  .commision-disclouser ul.list-group {
    border: 1px solid #fff;
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    margin-bottom: 15px; }
    @media screen and (max-width: 768px) {
      .commision-disclouser ul.list-group {
        font-size: 12px; } }
    .commision-disclouser ul.list-group li {
      font-weight: 500;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      @media screen and (max-width: 768px) {
        .commision-disclouser ul.list-group li {
          padding: 4px 15px !important; } }
      .commision-disclouser ul.list-group li span {
        display: inline-block;
        min-width: 110px;
        margin-right: 15px;
        position: relative; }
        .commision-disclouser ul.list-group li span i {
          display: inline-block;
          height: 17px;
          width: 17px;
          font-size: 12px;
          text-align: center;
          line-height: 17px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.2);
          margin-right: 5px; }
          .commision-disclouser ul.list-group li span i::before {
            line-height: 1;
            margin: 0 auto; }
        .commision-disclouser ul.list-group li span:after {
          content: ":";
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          color: #fff;
          font-weight: 500; }
        .commision-disclouser ul.list-group li span + div {
          display: inline-block;
          width: -webkit-calc(100% - 95px);
          width: calc(100% - 95px); }
  .commision-disclouser ul.check-text-list {
    padding: 0;
    list-style-type: none;
    color: #fff; }
    .commision-disclouser ul.check-text-list li {
      display: block;
      padding-left: 22px;
      position: relative;
      margin-bottom: 15px; }
      .commision-disclouser ul.check-text-list li:before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background: #c6f4ff;
        -webkit-border-radius: 10%;
        border-radius: 10%;
        position: absolute;
        left: 0;
        top: 2px; }
      .commision-disclouser ul.check-text-list li:after {
        content: "\e9a4";
        display: inline-block;
        font-family: boxicons !important;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        line-height: inherit;
        display: inline-block;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        left: -3px;
        top: -5px;
        color: #0a5f02;
        font-size: 20px; }
  @media screen and (max-width: 1024px) {
    .commision-disclouser .btn {
      font-size: 16px !important;
      padding: 8px !important; } }

.faq-section .accordion-button:not(.collapsed) {
  background-color: #ffc107;
  color: #2b2b2b;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.faq-section .collapse.show {
  background-color: #fdf7e8; }

@media screen and (max-width: 1024px) {
  .faq-section img {
    display: block;
    max-width: 300px;
    margin: 0 auto; } }

.btn {
  line-height: 1 !important; }
  .btn i {
    line-height: 1 !important; }

.notice-desc img {
  width: 100%;
  height: auto;
  margin-bottom: 10px; }

.avatar-selection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid #dee2e6;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px; }
  .avatar-selection img {
    width: -webkit-calc(100% - 2px);
    width: calc(100% - 2px);
    margin-right: 2px;
    margin-bottom: 2px;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .avatar-selection a {
    width: 5%;
    min-width: 50px; }
    .avatar-selection a.selected > img {
      border: 3px solid #ee4a0e; }
    .avatar-selection a:hover > img, .avatar-selection a:focus > img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

ul.roles {
  list-style-type: none;
  padding-left: 0; }

.list-group li h6 i.bx {
  font-size: 22px !important;
  line-height: 1;
  margin-right: 3px; }
  .list-group li h6 i.bx.bx-dollar-circle {
    color: #008cff; }
  .list-group li h6 i.bx.bx-money {
    color: #12bf1d; }
  .list-group li h6 i.bx.bx-coin-stack {
    color: #eac104; }
  .list-group li h6 i.bx.coin {
    color: #eac104; }

@media screen and (max-width: 768px) {
  .faq-section .card-body {
    padding: 0 !important; } }

@media screen and (max-width: 768px) {
  .faq-section .row .col-md-6:first-child {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; } }

.shadow-btn {
  position: relative;
  -webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3) !important;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .shadow-btn:hover, .shadow-btn:active {
    top: 2px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0) !important;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0) !important; }

.btn-success.disabled, .btn-success:disabled {
  border-width: 0 !important; }

@media screen and (max-width: 1024px) {
  .insurance-banner img {
    min-width: 250%;
    left: auto;
    right: 0;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important; } }

.text-holder.insurance-text.bonus {
  position: static; }
  .text-holder.insurance-text.bonus::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    -webkit-filter: blur(5px);
    filter: blur(5px); }

@media screen and (max-width: 1024px) {
  .b-banner img {
    -webkit-filter: blur(3px);
    filter: blur(3px); } }
